<!DOCTYPE HTML>
<html>

  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

    <!-- Vendors -->
    <%= js :vendors %>

    <!-- Vendors -->
    <%= js :helpers %>

    <!-- Backbone-Marionette -->
    <%= js :create_room %>

  </head>

  <body>
    The Command List
    by Jesse and Ethan Jurman
    <div id="content"></div>
  </body>
  
</html>

