@media (max-device-width:500px){
  .character-table {width: 100%;}
  html * {font-size: x-large;}
}
@media (max-width:500px){
  .character-table {width: 100%;}
  html * {font-size: x-large;}
}
@media (min-width:500px) {
  .character-table {width: 50%;}
  html * {font-size: large;}
}
@media (min-width:750px) {
  .character-table {width: 33.333%;}
  html * {font-size: medium;}
}
@media (min-width:1000px) {
  .character-table {width: 25%;}
  html * {font-size: medium;}
}
@media (min-width:1300px) {
  .character-table {width: 250px;}
  html * {font-size: medium;}
}
html * {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}
body {
  background-image: url("/img/px_by_Gre3g.png");
  /*from subtle patterns! http://subtlepatterns.com/*/
}
button {
  padding: 7px;
  border-radius: 15px;
  border: 2px solid lightgray;
}
td {
  border: 2px outset;
  border-radius: 5px;
}
th {
  font-weight: 800;
}
table {
  border-raidus:10px;
}
select {
  max-width: 100%;
  border-radius: 7px;
  font-size: 20px;
  border: 2px solid black;
}
img {
  vertical-align: middle;
}
.title {
  color: white;
}
.custom-button-red {
  border-radius: 30px;
  border: 2px rgb(160, 60, 60);
  border-style: solid;
  background: rgb(184, 81, 81);
  letter-spacing: 0px;
  padding: 2px;
}
.custom-button-blue {
  border-radius: 30px;
  border: 2px rgb(60, 60, 160);;
  border-style: solid;
  background: rgb(81, 81, 184);;
  letter-spacing: 0px;
  padding: 2px;
}
.custom-button-green {
  border-radius: 30px;
  border: 2px rgb(60, 160, 60);;
  border-style: solid;
  background: rgb(81, 184, 81);;
  letter-spacing: 0px;
  padding: 2px;
}
.character-table {
  float: left;
  border: 2px solid black;
  border-top-color: rgb(58, 58, 58);
  border-left-color: rgb(58, 58, 58);
  color: white;
  border-radius: 7px;
  background: linear-gradient(rgb(11, 14, 19),white);
}
.move-name {
  color: black;
  font-weight: bold;
  line-height: 0.8em;
  text-align: left;
}
.move-exec {
  border: inset;
  text-align: center;
}
.move-note {
  padding-top: 5px;
  text-align: center;
  font-size: small;
}
.move-prereq {
  color: white;
  text-align: center;
  font-size: small;
  border-style: outset;
  border-color: darkslategrey;
  background-color: darkslategrey;
}
.hide {
  display: none;
}
