@media (max-device-width:500px){
  .character-table {width: 100%;}
  html * {font-size: x-large;}
  .move-name {font-size: x-large;}
}
@media (max-width:500px){
  .character-table {width: 100%;}
  html * {font-size: x-large;}
  .move-name {font-size: x-large;}
}
@media (min-width:500px) {
  .character-table {width: 50%;}
  html * {font-size: large;}
  .move-name {font-size: large;}
}
@media (min-width:750px) {
  .character-table {width: 33.333%;}
  html * {font-size: 18px;}
}
@media (min-width:1000px) {
  .character-table {width: 25%;}
}
@media (min-width:1300px) {
  .character-table {width: 315px;}
}
html * {
  font-family: 'Exo 2', sans-serif;
  text-transform: uppercase;
}
body {
  margin: 0px;
  background-image: url("/img/px_by_Gre3g.png");
  /*from subtle patterns! http://subtlepatterns.com/*/
}
button {
  padding: 7px;
  border-radius: 15px;
  border: 2px solid lightgray;
}
td {
  border: 2px outset;
  border-radius: 5px;
}
th {
  font-weight: 800;
}
table {
  border-raidus:10px;
}
select {
  max-width: 100%;
  border-radius: 7px;
  font-size: 20px;
  border: 2px solid black;
}
img {
  vertical-align: middle;
}
hr {
  margin-bottom: 0px;
  margin-top: 0px;
  margin-left: 30px;
  margin-right: 30px;
}
#characters {
  margin: 8px;
}
.title {
  color: white;
  padding: 4px 8px;
}
.main-title {
  font-size: 32px;
}
.toggle-title:hover {
  cursor: pointer;
}
.selectable {
  color: white;
  padding: 5px;
}
.selectable:hover {
  color: rgb(230, 220, 220);
  cursor: pointer;
}
.custom-button {
  border-radius: 30px;
  border-style: solid;
  letter-spacing: 0px;
  display: inline-block;
  font-weight: bolder;
  padding: 0px 5px;
}
.red {
  border-color: rgb(160, 60, 60);
  background: rgb(184, 81, 81);
}
.red-grad {
  border-color: rgb(160, 60, 60);
  background: linear-gradient(rgb(184, 81, 81),rgb(160, 60, 60));
}
.blue {
  border-color: rgb(60, 60, 160);
  background: rgb(81, 81, 184);
}
.green {
  border-color: rgb(60, 160, 60);
  background: rgb(81, 184, 81);
}
.raised-button {
  border-top-width: 1px;
  border-bottom-width: 3px;
}
.pressed-button {
  border-top-width: 3px;
  border-bottom-width: 1px;
}
table.character-table {
  float: left;
  border: 2px solid black;
  border-top-color: rgb(58, 58, 58);
  border-left-color: rgb(58, 58, 58);
  color: white;
  border-radius: 7px;
  background: linear-gradient(rgb(11, 14, 19),white);
  overflow-y: scroll;
}
.move-name {
  color: black;
  font-weight: bold;
  text-align: left;
}
.move-exec {
  border: inset;
  text-align: center;
}
.move-note {
  margin-top: 5px;
  text-align: center;
  font-size: small;
  border-style: groove;
}
.move-prereq {
  color: white;
  text-align: center;
  font-size: small;
  border-style: outset;
  border-color: darkslategrey;
  background-color: darkslategrey;
}
.hide {
  display: none;
}

/* MODAL STUFF */
.modal {
  position: absolute;
  background: white;
  border: 7px solid gray;
  border-radius: 15px;
  padding: 20px;
}
