<td class="move-name <%= args.move_type %>">
  <%= args.name %>
  <table style="float: right;">
    <tr>
      <td class="move-prereq <%= args.hasPrereq %>">
        <%= args.prereq %>
      </td>
    <tr>
      <td class="move-exec <%= args.move_type %>">
        <%= args.execHTML %>
      </td>
    </tr>
  </table>
  <table class="<%= args.move_type %> move-note <%= args.hasNote %>">
    <tr>
      <td class="move-note" style="padding: 2px;">
        <%= args.noteHTML %>
      </td>
    </tr>
  </table>
</td>
