<td class="move-name <%= args.move_type %>">
  <%= args.name %>
  <table style="float: right;">
    <tr class="<%= args.hasPrereq %>">
      <%= args.prereqHTML %>
    <tr>
      <td colspan="<%= args.prereqCount %>" class="move-exec <%= args.move_type %>">
        <%= args.execHTML %>
      </td>
    </tr>
  </table>
  <table class="<%= args.hasNote %>">
    <tr>
      <td class="move-note <%= args.move_type %>" style="padding: 2px;">
        <%= args.noteHTML %>
      </td>
    </tr>
  </table>
</td>
